<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_area :skills %>
  </div>
  <div class="field">
    <%= f.label :Location %><br>
    <select id="person_location" name="person[location]">
      <option value="Mumbai">Mumbai</option>
      <option value="Banglore">Banglore</option>
      <option value="Gurgaon">Gurgaon</option>
      <option value="Kolkata">Kolkata</option>
      <option value="NYC">NYC</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :totalExp %><br>
    <%= f.text_field :totalExp %>
  </div>
  <div class="field">
    <%= f.label :tcsExp %><br>
    <%= f.text_field :tcsExp %>
  </div>
  <div class="field">
    <%= f.label :releventExp %><br>
    <%= f.text_field :releventExp %>
  </div>
  <div class="field">
    <%= f.label :Allocation %><br>
    <%= f.number_field :Allocation %>
  </div>
  <div class="field">
    <%= f.label :interestAreas %><br>
    <%= f.text_area :interestAreas %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%#= f.text_field :group_id %>
    <select id="person_group_id" name="person[group_id]">
      <% @groups.each do |group| %>
        <option value="1">
          <%= group.name %>
        </option>
      <% end %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
