<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @person.skills %>
</p>

<p>
  <strong>Totalexp:</strong>
  <%= @person.totalExp %>
</p>

<p>
  <strong>Tcsexp:</strong>
  <%= @person.tcsExp %>
</p>

<p>
  <strong>Releventexp:</strong>
  <%= @person.releventExp %>
</p>

<p>
  <strong>Allocation:</strong>
  <%= @person.Allocation %>
</p>

<p>
  <strong>Location:</strong>
  <%= @person.location %>
</p>

<p>
  <strong>Interestareas:</strong>
  <%= @person.interestAreas %>
</p>

<p>
  <strong>Active:</strong>
  <%= @person.active %>
</p>

<p>
  <strong>Group:</strong>
  <%= Group.find(@person.group_id).name %>
</p>
<hr>
<% as=[] 
as = Assignment.where(person_id: @person.id)
%>
<%# if a = Assignment.find_by_person_id(@person.id) then %>
<% if as  %>
<% as.each do |a| %>
  <%= @person.name %> is mapped to <%= Project.find(a.project_id).name %><br>
  <% end %>
<% end %>
<p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
